* {margin: 0;padding: 0;}
ul {list-style: none;}
.fl-l {float:left;}
.fl-r {float: right;}
/* 清浮动 */
.clear:before, .clear:after { content: ""; display: table; }
.clear:after { clear: both; }
.claer { *zoom: 1; }
body, html {width: 100%;height: 100%;}
/* 遮罩 */
#forg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 65px;
	background-color: #fff;
	opacity: 0.1;
	z-index: 102;
}
/* nav 导航栏 */
#nav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 101;
	width: 100%;
	height: 65px;
	box-shadow: 2px 1px 2px #3e3e3e;
}
#first-page {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #2c2d2d;
}
#nav-lef {
	position: absolute;
	left: 100px;
	top: 0px;
	z-index: 200;
	line-height: 65px;
	font-size: 40px;
	color: #ccc;
	opacity: 1;
}
#nav-rig {
	position: absolute;
	right: 100px;
	line-height: 65px;


}
#nav-rig li {
	float: left;
	margin-left: 20px;
	color: #626262;
}
#nav-rig li p {
	opacity: 1
}
#nav-rig .active {
	color: #a0a0a0;
}
/* first-page 第一页 */
#first-page {
	position: relative;
}
#first-page img {
	position: absolute;
	width: 100%;
	height: 100%;
}
#first-page .title {
	position: absolute;
	font-size: 60px;
	left: 50%;
	margin-left: -100px;
	top: 20%;
	color: #fff;
	z-index: 300;
}
#first-page .info {
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 55%;
	color: #fff;
	z-index: 300;
	font-size: 20px;
	color: #a8a8a8;
}
/* 轮播原点 */
#nav-cri {
	position: fixed;
	right: 50px;
	top: 38%;
	z-index: 400;
}
#nav-cri ul li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px #fff solid;
	margin-top: 20px;
	cursor: pointer;
}
#nav-cri .active {
	background-color: #a0a0a0;
}

/* 第二个页面 */
#second-page {
	position: relative;
	width: 100%;
	height: 100%;
	background:  url('../imgs/part2.png') 0 0 no-repeat;
	background-size: cover;

}
#second-page-title {
	position: absolute;
	right: 10%;
	top: 25%;
	font-size: 36px;
	color: #2d2d2d;
}
.icon {
	position: relative;
}
.section2 p {
	position: absolute;
	right: 9%;
	top: 40%;
	font-size: 20px;
	line-height: 40px;
	color: #2d2d2d;
}
/* 第三个页面 */
#third-page {
	width: 100%;
	height: 100%;
	background:  url('../imgs/part3.png') 0 0 no-repeat;
	background-size: cover;


}

.section3 p {
	position: absolute;
	left: 12%;
	top: 45%;
	font-size: 20px;
	line-height: 40px;
	color: rgb(238, 238, 238);
}
/* 第四个页面 */
#fourth-page {
	width: 100%;
	height: 100%;
	background:  url('../imgs/part4.png') 0 0 no-repeat;
	background-size: cover;

}
/* 第五个页面 */
#fiveth-page {
	width: 100%;
	height: 100%;
	background:  url('../imgs/part5.png') 0 0 no-repeat;
	background-size: cover;
}
#info5 {
	position: absolute;
	top: 30%;
	width: 100%;
}
.section5 p {
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	color: rgb(98, 98, 98);
}