.btn {
	background-color: #fff !important;
}
.switchBtn {
	background-color: #fff !important;
}
header {
	background-color: #fff !important;
}

body {
	background-color: #f3f3f3 !important;
}
#themeTitle {
	color: #cecece;
}
.show-tag {
	background-color: #fff !important;
}

.console {
	color: #a1a0a0;
}

.tag {
	background-color: #e6e6e6 !important;
}

.slider .show-tag .tag span {
	color: #a09f9f;
}

.year p {
	background-color: #fff;
	color: #4f4f4f;
}

.time-line {
	background-color: #fff;
}

.small-cri {
	border: 0.166667rem solid #fff;
	background-color: #00d550;
}
.time {
	color: #4f4f4f;
}

.triangle-left {
	border-right: 0.3125rem solid #fff;
}

.triangle-right {
	border-left: 0.3125rem solid #fff;
}
.event-container {
	background-color: #fff;
}

.event-container p {
	color: #4f4f4f;
}

.info {
	background-color: #fff;
}

.run {
	background-color: #fff;
}

.run p {
	color: #1e1e1e;
}
.run-btn {
	background-color: #5fea9d;
	color: #1e1e1e;
}

.log {
	background-color: #1e2d25;
}

.log p {
	color: #d7e5b5;
}

footer {
	background-color: #fff;
}
footer p {
	color: #1e1e1e;
}